################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataGenerator/obj/Debug/DataGenerator_MarkupCompile.i.lref
/DataGenerator/obj/Debug